#toc {
    position: fixed;
    right: 5px;
    z-index:9999;
    background:white;
    padding:10px;
    box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);
    transition:all 2s 2s;
}
     
#toc:hover {
    transition:all 0.3s; !important
}

#toc a {color:black;}
#toc h1,h2,h3,h4,h5,h6 {font-size:1em;margin:0.5em;} 
#toc h1 {font-weight:bold;}
#toc h2 {padding-left:1em;} 
#toc h3 {padding-left:1.5em;} 
#toc h4 {padding-left:2em;} 
#toc h5 {padding-left:2.5em;} 
#toc h6 {padding-left:3em;}
